.message {
    margin-top: 24px;
}

.imageAndText img {
    width: 48px;
    height: 48px;
}

.imageAndText {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    flex-direction: row-reverse;
    gap: 12px;
}

.text {
    position: relative;
    max-width: 527px;
    background-color: #0066CC;
    color: #FFFFFF;
    padding: 8px 13px;
    filter:
            drop-shadow(0 1px 2px rgba(29, 33, 38, 0.1))
            drop-shadow(0 5px 20px rgba(29, 33, 38, 0.03));
    border-radius: 10px 10px 0 10px;
}

.text:after {
    content: "";
    position: absolute;
    left: 100%;
    bottom: 0;
    width: 15px;
    height: 15px;
    background-color: #0066CC;
    clip-path: polygon(0 0, 0 100%, 100% 100%);
}

.name {
    text-align: end;
    margin-bottom: 3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.messageText {
    white-space: normal;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.time {
    margin-top: 5px;
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 10px;
    color: #000000;
    text-align: end;
}