.buttonsContainer {
    display: flex;
    gap: 24px;
    margin-bottom: 30px;
}

.responseContainer {
    display: flex;
    align-items: center;
    gap: 94px;
    margin-left: 96px;
}

.imageContainer {
}

.image {
}

.textContainer {
    display: flex;
    flex-direction: column;
}

.code {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #000000;
    margin-bottom: 13px;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.info {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}