.radio {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.radio::before {
}


.radio:checked::before {
    background-color: #000000;
}

.label {
    display: flex;
    align-items: center;
    gap: 11px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
