.item {
}

.item:last-of-type td {
    border-bottom: none;
}

.item td {
    padding: 0 18px 16px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #000000;
}

.users {
    width: 600px;
    border-spacing: 0 16px;
    border-collapse: separate;
    /*border-bottom: 1px solid #E5E5E5;*/
}

.users tbody td {
    border-bottom: 1px solid #E5E5E5;
}

.buttonsContainer {
    display: flex;
    gap: 12px;
    margin-left: 224px;
    margin-bottom: 18px;
}

.container {
    padding: 33px 0 43px;
}

.thead {
    background-color: #E5E5E5;
}

.thead td {
    padding: 10px 18px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
}

.nameCol {
    width: 45%;
}

.ageCol {
    width: 70%;
}