.App {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 1rem;
    --header_height: 60px;
}

.hw {
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    padding: 24px 0 204px;
}

.hwTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #000000;
    padding: 37px 0 10px 0;
}