.greetingForm {
}

.inputAndButtonContainer {
    display: flex;
    align-items: start;
    gap: 12px;
    margin-bottom: 9px;
}

.error {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #CC0000;
}

.input {
    width: 372px;
    height: 36px;
    padding: 8px 12px;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}

.input:focus{
}

.errorInput {
    border: 1px solid #CC0000;
}

.button {
    padding: 5px 24px;
    width: 78px;
    height: 36px;
    background: #0066CC;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.07);
}

.button:active {
    opacity: 1;
}

.button:disabled {
    opacity: 0.5;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 9px;
}

.greeting {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
}
