.sendForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 44px;
    margin-top: 68px;
    margin-bottom: 32px;
    width: 100%;
}

.textarea {
    flex: 1;
    height: 40px;
    resize: none;
    background: #F5F7FB;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    padding: 12px 24px;
    overflow-y: auto;
    overflow-x: hidden;
    border: none;
}

.textarea::placeholder {
    color: rgba(0, 0, 0, 0.6);
    opacity: 0.9;
}

.button {
    width: 120px;
    background-color: #0066CC;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px;
    border: none;
}

.button:hover {
    background-color: #02407e;
}

.button:active {

}
