.select {
    width: 165px;
    padding: 2px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}

.select:focus {
}


.option:hover {
}
