.burgerMenuIcon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.header {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    box-shadow: 0 0 40px rgba(29, 33, 38, 0.13), 0 0 2px rgba(29, 33, 38, 0.1);
}

.headerInner {
    max-width: 1108px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.header h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}