.button {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 24px;
    text-align: center;
    border-radius: 3px;
}

.disabled {
    background-color: #004D99;
    border: 1px solid #004D99;
    opacity: 0.5;
    color: #002E5C;
}

.secondary {
    background-color: transparent;
    border: 1px solid #0066CC;
    color: #0066CC;
}

.default {
    background-color: #0066CC;
    border: 1px solid #0066CC;
    color: #FFFFFF;
}

.red {
    background-color: #CC1439;
    border: 1px solid #CC1439;
    color: #FFFFFF;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
